.column3 {
    grid-row: 2;
    grid-column: 3;
    /* Add your content here */
    background-color: $background-main;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin-left: 20px;
    // padding-left: 20px;
    // padding-right: 20px;
    height: calc(100vh - 80px);
}

.calendar-section {
    flex: 0 0 20%;
    // background-color: red;
    margin-bottom: 10px;
}
.progress-section {
    // flex: 0 0 15%;
    height: 105px;
    background-color: $background-main;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    // padding-top: 10%;
    align-items: center;
}
.progress-item {
    flex: 0 0 28%;
    // height: 70%;
    border-radius: 10px;
    // margin-top: 10%;
    // background-color: black;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2%;
}
.progress-item span:not(:first-child){
    padding-left: 5px;
    padding-bottom: 5px;
}

.Task-section {
    flex: 1 0 auto;
    background-color: $background-main;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.user-title-text-secondary{
    // padding-left: 20px;
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2%;
    color: $text-heading;
}
.progress-ToDo {
    color: $todo-color;
    border: 1px solid $todo-color;
    background-color: $todo-background;
}
.progress-InProgress {
    color: $in-progress-color;
    border: 1px solid $in-progress-color;
    background-color: $in-progress-background;
}
.progress-Complete {
    color: $complete-color;
    border: 1px solid $complete-color;
    background-color: $complete-background;
}
.task-container {
    background-color: White;
    border: 1px solid #E6E4F0;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px;
    // height: 100px;
}
.task-top {
    // height: 80px;
    min-height: 30px;
    // background-color: purple;
    display: flex;
    flex-direction: row;
}
.task-item-holder {
    width: 70%;
    // background-color: red;
}
.taskItem {
    display: flex;
    flex-direction: row;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.64px;
    text-align: left;
    color: $text-heading;
}

// .taskItem input[type="checkbox"] {
//     accent-color: white;
// }
.task-tag-holder {
    // height: 35px;
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.task-tag-holder img {
    margin-right: 5px;
}
.SubTask {
    margin-left: 30px;
    margin-top: 5px;
}
.task-action-btn-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // background-color: rgba(154, 250, 102, 0.989);
    flex-grow: 1;
    align-items: center;
    gap: 8px;
}
.taskStatus {
    display: flex;
    flex-direction: column;
}
.completionCount {
    font-family: Plus Jakarta Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 15.12px;
    text-align: left;
    color: #BBBABE;
}
.tag-div {
    font-family: Plus Jakarta Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.12px;
    text-align: left;
}
.CalendarElement {
    width: 55px;
    height: 75px;
    // background-color: green;
    border-radius: 10px;
    border: 1px solid #E6E4F0;
    display: flex;
    flex-direction: column;
}
.CalendarElementSelected {
    width: 76px;
    height: 106px;
    // background-color: green;
    border-radius: 10px;
    border: 1px solid #E6E4F0;
    display: flex;
    flex-direction: column;
}
.internalColor {
    width: 100%;
    height: 17px;
    background-color: #FEC6DF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.internalColorSelected {
    width: 100%;
    height: 24px;
    background-color: #FD71AF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.calTextHolder {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.calTextHolderSelected {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.calTextHolder span:first-child {
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 27.72px;
    text-align: center;
    color: #56555C;
}
.calTextHolder span:not(:first-child) {
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.9px;
    text-align: center;
    color: #56555C;
}
.calTextHolderSelected span:first-child {
    font-family: Plus Jakarta Sans;
    font-size: 26px;
    font-weight: 700;
    line-height: 32.76px;
    text-align: center;
    color: #56555C;
}
.calTextHolderSelected span:not(:first-child) {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: center;
    color: #56555C;
}
.calendarIconsHolder {
    display: flex;
    width: 100%;
    // background-color: green;
    flex-direction: row;
    gap: 8px;
    justify-content: space-evenly;
    align-items: center;
}
.taskCheck {
    background-color: white;
    appearance: none;
    border: 2px solid #BBBBBE;
    width: 15px;
    height: 15px;
}
.taskCheck:checked{
    appearance: revert;
    accent-color: $todo-color;
    color: white
}
.taskCheck:checked::after {
    content: "";
    color: white
}
.taskTextCompleted{
    color: $todo-color;
    text-decoration: line-through;
}
.editMenu, .deleteMenu, .threedots {
    display: inline;
    padding: 5px;
    margin: 0;
    border: 1px solid white;
    border-radius: 10px;
}
.editMenu:hover, .deleteMenu:hover, .threedots:hover {
    background-color: $background-main;
    border: 1px solid #E6E4F0
}