.column3 {
    grid-row: 2;
    grid-column: 3;
    /* Add your content here */
    background-color: darkorange;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.calendar-section {
    flex: 0 0 25%;
    background-color: red;
    margin-bottom: 10px;
}
.progress-section {
    flex: 0 0 15%;
    background-color: $background-main;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    // padding-top: 10%;
    align-items: center;
}
.progress-item {
    flex: 0 0 28%;
    height: 70%;
    border-radius: 10px;
    // margin-top: 10%;
    // background-color: black;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2%;
}

.Task-section {
    flex: 1 0 auto;
    background-color: $background-main;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.user-title-text-secondary{
    // padding-left: 20px;
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2%;
    color: $text-heading;
}
.progress-ToDo {
    color: $todo-color;
    border: 1px solid $todo-color;
    background-color: $todo-background;
}
.progress-InProgress {
    color: $in-progress-color;
    border: 1px solid $in-progress-color;
    background-color: $in-progress-background;
}
.progress-Complete {
    color: $complete-color;
    border: 1px solid $complete-color;
    background-color: $complete-background;
}
.task-container {
    background-color: green;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    // height: 100px;
}
.task-top {
    // height: 80px;
    min-height: 30px;
    // background-color: purple;
    display: flex;
    flex-direction: row;
}
.task-item-holder {
    width: 70%;
    // background-color: red;
}
.taskItem {
    display: flex;
    flex-direction: row;
}

.taskItem input[type="checkbox"] {
    accent-color: white;
}
.task-tag-holder {
    height: 35px;
}