$peri-test: #9FA8F0;
$background-main: #FBFBFB;
$todo-color:#49CCF9;
$todo-background:#49cdf930;
$in-progress-color:#9FA8F0;
$in-progress-background:#9FA8F030;
$complete-color:#00B884;
$complete-background:#00B88430;
$text-heading: #56555C;
$side-menu-color: #FFFFFF;
